asgiref==3.8.1
colorama==0.4.6
distlib==0.3.9
Django==5.1.4
django-jazzmin==3.0.1
filelock==3.18.0
mysql==0.0.3
mysql-connector-python==8.0.33
mysqlclient==2.2.6
pillow==12.1.0
platformdirs==4.3.8
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.31.2
psycopg2-binary
dj-database-url
